@keyframes slideInFromLeft {
  0% {
    /* transform: translateX(-100%); */
    width: 0px;
    height: 0px;
  }
  100% {
    /* transform: translateX(0); */
    /* width: 350px; */
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateX(0);

  }
}