.logo {
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 1px solid grey;
  font-size: 18px;
  background-color:white;
  z-index: 100;
}

.super-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  position: absolute;
  top: 60px;
  left: -38px;
  animation: 1s ease-out 0s 1 slideInFromTop;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 20px 0;
  transform: rotate(-90deg);
  transition-duration: 2s;
  font-size: 20px;
  text-align: center;
  width: 120px;
}

.wrapper:hover {
  transform: none;
  padding-left: 80px;
  font-size: 24px;
  padding-top: 30px;
  padding-bottom: 30px;
}