.photo-main {
  position: absolute;
  top: 38px;
  left: 170px;
  right: 40px;
  bottom: 150px;
  border-radius: 3px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3)
}

.belt {
  position: absolute;
  left: 170px;
  right: 40px;
  border: 1px solid red;
  bottom: 20px;
  height: 110px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.belt-card {
  border-radius: 3px;
  width: 20%;
  height: 100%;
  margin: 0 5px;
  border: 1px solid red;
  transition-duration: 1s;
}

.belt-card:hover {
  transform: scale(1.1);
  margin: 0 20px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3)
}