.t0 {
  font-size: 1rem;
  font-weight: 300;
  font-style: italic;
}

.t1 {
  font-size: 2rem;
  font-weight: 500;
}

.t2 {
  font-size: 1.5rem;
  font-weight: 300;
}

.t3 {
  font-weight: 300;
}

.t4 {
  font-size: 2rem;
  font-weight: 300;
}

.t5 {
  font-size: 1.3rem;
  font-weight: 300;
  font-style: italic;
}

.t6 {
  font-size: 1rem;
  font-weight: 300;
}